/*--------------------------------------------------------------
# Comment - Form
--------------------------------------------------------------*/

#my-comment{
	display: flex;
	border-bottom: 0.5px solid gray;
	background-color: black;
	width:80%;
	height: 13%;
	padding: 2%;
    margin-left: 5%;
}

#my-comment img{
	height: 50px;
	width: 50px;
	border-radius: 20px;
	display: inline-block;
	/* float: left; */
	margin-left: 1%;
	margin-top: 1%;
}

#my-comment form{
	display: inline-block;
	width:100%;
	margin-left: 1%;
	margin-top: 1%;
}

#my-comment form textarea{
	height: 70%;
	width: 84%;
	display: inline-block;
	font-size:19px;
	margin-left: 1%;
	margin-top: 1%;
	border: none;
    background-color: black;
    color: aliceblue;
}
#my-comment form textarea:focus{
	border: none;
    border: none;
    overflow: auto;
    outline: none;
    color: aliceblue;
}
 
#my-comment form button{
	border-radius: 20px;
	display: inline-block;
	/* float: right; */
	margin-right: 1%;
	margin-top: 1.5%;
}



/*--------------------------------------------------------------
# Comments - List
--------------------------------------------------------------*/

#pid .pid-comment ,  #pid2 article, .pid-comment{
    display: block;
    margin-top: 1%;
    margin-left: 5%;
    border: 0.5px solid gray;
    background-color:aliceblue;
    width: 80%;
}

#pid2 article div{
   width: 80%;
   display: flex;
   height: 75%;
}
#pid2 article:hover{
   cursor: pointer;
   background-color: #1da1f2;
   transition: 0.3s;
}
#pid2 article div img{
   height: 50px;
   width: 50px;
   border-radius: 20px;
   display: inline-block;
   /* float: left; */
   margin-left: 1%;
   margin-top: 2%;
}
#pid2 article div label{
   display: inline-block;
   margin-left: 1%;
   margin-top: 2%;
   font-size: 18px;
    font-weight: bold;
    color:#333;
}
#pid2 article div p{
   height: 70%;
   width: 87%;
   display: inline-block;
   font-size:14px;
   margin-left: 2%;
   margin-top: 2%;
   border: none;
}



/*--------------------------------------------------------------
# Admin
--------------------------------------------------------------*/
#Recomandation-pid{
   display: block;
   margin-top: 1%;
   margin-left: 5%;
   width: 80%;
   border-radius: 30px;
   height: 1000px;
   background-color: black;
}
.header-admin{
   border-bottom: 1px solid gray;
   width: 99%;
   margin-left: 5.5%;
   text-align: center; 
   background-color: black;
}
.header-admin h2{
   font-weight: bold;
   color: #1da1f2;
}

#Recomandation-pid .pid-comment{
   display: flex;
   border: 0.5px solid gray;
   background-color:aliceblue;
   width: 100%;
   margin-bottom: 2%;
   height: 127px;
}
.pid-comment .comment-movie{
   margin-left: 0%;
  width: 15%;
  display: inline-block;
}
.pid-comment .article-body{
   margin-left: 5%;
  width: 60%;
   height: 100%;
  display: inline-flex;
}
.pid-comment .article-body label{
  display: inline-block;
  margin-left: 5%;
  margin-top: 2%;
   font-size: 18px;
   font-weight: bold;
   color:#333;
}
.pid-comment .article-body p{
  display: inline-block;
  font-size:14px;
  margin-left: 3%;
  margin-top: 2%;
   height: 100%;
   width: 100%;
}
.comment-buttons{
   margin-top: 2%;
   display: flex;
}
.button-cancel, .button-ok{
   display: inline-block;
   margin-top: 3%;
   height: 40px;
   width: 40px;
}
.button-ok:hover{
   cursor: pointer;
   background-color: aquamarine;
   border-radius: 30px;
}
.button-cancel:hover{
   cursor: pointer;
   background-color:firebrick;
   border-radius: 30px;
}