/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #272829; */
  /* background-color: black; */
  background-color: white;
  color: #111;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



a {
  color: #149ddd;
}

a:hover {
  color: #37b3ed;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
#aside-nav{
display: block;
position: fixed;
width: 11%;
height: 100%;
top:0;
background-color:white;
}

#aside-nav {
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  padding: 0 15px;
  overflow-y: auto;
}
#aside-nav {
border-right: 0.5px solid gray;
width: 16%;
font-weight: bold;
}

main{
display: block;
  position: relative;
left: 16%;
width: 84%;
height: 100%;
  background-color: black;
}

/*--------------------------------------------------------------
# Empty Left + right
--------------------------------------------------------------*/
#aside-nav {
left: 0;
}

/*--------------------------------------------------------------
# Nav-Bar Left
--------------------------------------------------------------*/

#aside-nav{
  background-color: darkslategray;
  background-color: black;

}
#aside-nav .search-links img {
  margin: 15px 15px;
  display: block;
  width: 80%;
  height: 50px;
}
  
#aside-nav .search-links .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: orangered;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}


#aside-nav .search-links .social-links a:hover {
  background: #149ddd;
  color: orangered;
  text-decoration: none;
}

#main {
  margin-left: 250px;
  background-color: #333;
  display: block;
  height: 100vh;
}

@media (max-width: 1199px) {
  #aside-nav {
      left: -300px;
  }

  #main {
      margin-left: 0;
  }
}

.btn-tweet {
  background-color: #1da1f2;
  width:90%;
  border-radius: 30px;
  margin: 0 auto;
}

#mini-profile {
margin-top:30%;
  height: 50px;
  width: 97%;
  display: block;
  background-color:#111;
  border-radius: 30px;
  bottom: 15px;
  padding-top: 10px;
}
  #mini-profile img {
      height: 30px;
      width: 30px;
      border-radius: 20px;
      display: inline-block;
      /* float: left; */
      margin-left: 10px;
  }
  #mini-profile h4 {
      font-size: 16px;
      text-align: center;
      display: inline;
      margin-left: 10px;
  }
  #mini-profile i {
      font-size: 25px;
      display: block;
      float: right;
      margin-right: 10px;
  }


.nav-footer {
display:block;
  color: #777;
  font-size: 13px;
width:100%;
margin-top: 10%;
}
.nav-footer ul{
  display:inline-block;
}
  .nav-footer ul li{
      display: inline-block;
      list-style:none;
  }
      .nav-footer ul li a {
          color: #777;
      }
      .nav-footer ul li a:hover{
          text-decoration:none;
    color:#149ddd;
    transition: 0.4s;
      }




/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
  padding-top: 30px;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.far{
  color: white;
}
.nav-menu a i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a box-icon {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.bx{
  height: 25px;
  width: 25px;
  margin-right: 3%;
}
.nav-menu a:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
  text-decoration: none;
  color: #D27E7E;
}

.nav-menu a:hover box-icon,
.nav-menu .active > a box-icon,
.nav-menu li:hover > a box-icon {
  color: #D27E7E;
}

.nav-menu a:hover i,
.nav-menu .active > a i,
.nav-menu li:hover > a i {
  color: #D27E7E;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #D27E7E;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #aside-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


/*--------------------------------------------------------------
# Main Center
--------------------------------------------------------------*/
main  header{
display: inline-block;
border-bottom: 0.5px solid gray;
background-color: black;
width:100%;
height: 7.5%;
  color: #1da1f2;
padding: 1%;
}

main header h1{
left: 0;
display:inline-block;
font-size: 20px;
font-weight: bold;
}
main header form{
  float: right;
right: 0;
  display: inline-flex;
}
header form .search-bar {
  color: rgba(110,127,141,1);
}



#our-recomandation{
  display: block;
  width: 100%;
  height: 650px;
  background-color: antiquewhite;
  border-bottom: 1px solid gray;
}

#our-recomandation img{
  width: 100%;
  height: 100%;
  flex-grow: 1;
}



/*--------------------------------------------------------------
# Home page - Pid
--------------------------------------------------------------*/

.img-popular-big:hover{
  cursor: pointer;
}

main{
  background-color: black;
  margin-top: 0%;
  height:100%;
}

#pid,  #pid2 , #my-profile-list{
  background-color: black;
  margin-top: 0%;
  height:100%;
  padding:1%;
}

 #search-form{
   display: block;
  background-color: black;
  margin-top: 7%;
  height:800px;
  padding:1%;
}
